<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="SYNCOPTIONS" value="ASSET.PROGRESSIVE,ASSET.PROG.RATE,OPTION.CODE.PURCHASED.DATE,ASSET.LIFE.SPAN,ASSET.LINE.ADDRESS,ASSET.DENOMINATION,ASSET.MULTI.DENOM,ASSET.GMU.CRC.AUTH,ASSET.CRC.REQ.DATE,ASSET.CRC.REQ.TIME,ASSET.CRC.COUNT,ASSET.CRC.ERROR,ASSET.GMU.DOC.ID,ASSET.CASHLESS.DISABLED,ASSET.ECASH.ENABLED,ASSET.SMART.CARD.ENABLED,ASSET.CASLESS.DISAB,MAG.STRIP.ENABLED,ASSET.TICKET.PRINTER,ASSET.ROM.SIG.ENABLED,ASSET.ROM.SIG.SOFTWARE.NAME,PROTOCOL.VERSION,ASSET.ROM.SIG.STATUS,OPTION.CODE.ENROLMENT.STATUS,OPTION.CODE.METER.TYPE" />
    <add key="OPTIONSTOCOMPARE" value="ASSET.PROGRESSIVE,AREA,ASSET.PAGER.ZONE"/>
  </appSettings>
</configuration>